html{font-size: 62.5%!important;}
*{
    box-sizing: border-box;
}
body{
    font-family: "Heiti SC", "Rotobo", "microsoft yahei";
    background: #f0f0f0;
    color: #333;
    font-size: 14px

}
select,textarea,button{border: none;outline: none !important;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Heiti SC", "Rotobo", "microsoft yahei"}
select,input{
    font-size: 1.4rem;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    border: none;outline: none!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Heiti SC", "Rotobo", "microsoft yahei"}
button:active,input:active{
    background: rgba(136, 136, 136, 0.63)!important;}
select{
    background: transparent!important;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
/*��ɫ*/
.my-pointer{cursor: pointer}
.my-cl-white{color: #fff !important;}
.my-cl-black{color: #000 !important;}
.my-cl-red{color: red !important;}
.my-cl-danger{color: #ee4f4f !important;}
.my-cl-grey{color: #888 !important;}
.my-cl-lightgrey{color: #ddd !important;}
.my-cl-darkblue{color: #3f71e4 !important;}
.my-cl-blue{color: #24D5A5 !important;}
.my-cl-wx{color: #04bd02 !important;}
.iconfont{
    color: #888;
}
.my-bg-wx{background-color: #04bd02 !important; }
.my-bg-blue{background-color:#24D5A5 !important; }
.my-bg-white{background-color:#fff !important; }
.my-bg-black{background-color:#000 !important; }
.my-cl-default{color:#333 !important; }
.my-bg-danger{background-color: #ee4f4f !important; }
.my-bg-grey{background-color:#f2f2f2 !important; }
.my-bg-dark-grey{background-color:#bababa !important; }
.my-bg-dark{background-color:#666 !important; }
.my-text-default{color: #333}
.my-text-grey{color: #ddd}

.my-grey-line{width:100%;height: 1px;background: #f2f2f2}
.my-radius-3{border-radius: 3px}
.my-radius-5{border-radius: 5px}
.my-circle{border-radius: 50%}
.my-round{border-radius: 9999px;}
.my-bordered{border:1px solid #ddd!important;}
.my-no-wrap{overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.my-nowrap-100{
    display: inline-block;
    max-width: 100px;vertical-align: middle;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.my-nowrap-120{
    display: inline-block;
    max-width: 120px;vertical-align: middle;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.my-nowrap-150{
    display: inline-block;
    max-width: 150px;vertical-align: middle;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.my-nowrap-180{
    display: inline-block;
    max-width: 180px;vertical-align: middle;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.my-nowrap-80{
    display: inline-block;
    max-width: 80px;vertical-align: middle;overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
.my-textline-3{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方�? **/
    -webkit-line-clamp: 3; /** 显示的行�? **/
    overflow: hidden;  /** 隐藏超出的内�? **/
}
.my-textline-2{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方�? **/
    -webkit-line-clamp: 2; /** 显示的行�? **/
    overflow: hidden;  /** 隐藏超出的内�? **/
}
/*λ��*/
.my-relative{position: relative}
.my-absolute{position: absolute}
.my-over-hidden{overflow: hidden}
.my-cf{clear: both}
.my-fr{
    float: right;}
.my-fl{
    float: left;}
.my-cf:after{
    content: '';
    display: block;
    clear: both;
}
.my-center{text-align: center}
.my-right{text-align: right}
.my-left{text-align: left}
.my-valign-m{
    vertical-align: middle;
}
.my-valign-t{
    vertical-align: top;
}
.my-valign-b{
    vertical-align: bottom;
}
.my-block{
    display: block;
}
.my-inline-block{
    display: inline-block;
}
.my-inline{
    display: inline;
}
/*hide/show*/
.my-hide{
    display: none;
}
.my-show{
    display: block;
}
/*������?*/
.my-bold{
    font-weight: bold;}
.my-bolder{
    font-weight: bolder;}

.my-headerimg-30{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%}
.my-headerimg-30{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%}
.my-headerimg-40{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%}
.my-headerimg-40{
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%}
.my-headerimg-80{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%}
.my-headerimg-50{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%}
.my-headerimg-100{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%}
.my-height-30{
    height: 30px;}
.my-height-35{
    height: 35px;}
.my-height-40{
    height: 40px;}
.my-height-45{
    height: 45px;}
.my-height-50{
    height: 50px;}

.my-headerimg-square-50{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%}
.my-headerimg-square-40{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%}
.my-headerimg-square-45{
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%}
.my-headerimg-square-35{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%}
.my-headerimg-square-30{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%}
.my-box-shadow{
    -webkit-box-shadow:  0 0 1px #ddd;
    -moz-box-shadow:  0 0 1px #ddd;
    box-shadow:  0 0 1px #ddd;}
.my-border-box{box-sizing: border-box}
.my-font-10{font-size: 1.0rem !important;}
.my-font-11{font-size: 1.1rem !important;}
.my-font-12{font-size: 1.2rem !important;}
.my-font-13{font-size: 1.3rem !important;}
.my-font-14{font-size: 1.4rem !important;}
.my-font-15{font-size: 1.5rem !important;}
.my-font-16{font-size: 1.6rem !important;}
.my-font-17{font-size: 1.7rem !important;}
.my-font-18{font-size: 1.8rem !important;}
.my-font-19{font-size: 1.9rem !important;}
.my-font-20{font-size: 2.0rem !important;}
.my-font-21{font-size: 2.1rem !important;}
.my-font-22{font-size: 2.2rem !important;}
.my-font-23{font-size: 2.3rem !important;}
.my-font-24{font-size: 2.4rem !important;}
.my-font-25{font-size: 2.5rem !important;}
.my-font-26{font-size: 2.6rem !important;}
.my-font-27{font-size: 2.7rem !important;}
.my-font-28{font-size: 2.8rem !important;}
.my-font-29{font-size: 2.9rem !important;}
.my-font-30{font-size: 3.0rem !important;}
/*wrap-size*/
.my-width-100{  width: 100%;}
.my-width-98{  width: 98%; }
.my-width-95{  width: 95%; }
.my-width-93{  width: 93%; }
.my-width-92{  width: 92%; }
.my-width-90{  width: 90%; }
.my-width-85{  width: 85%; }
.my-width-80{  width: 80%; }
.my-width-70{  width: 70%; }
.my-width-60{  width: 60%; }
.my-width-50{  width: 50%; }
.my-width-40{  width: 40%; }
.my-width-33{  width: 33.33%; }
.my-width-30{  width: 30%; }
.my-width-25{  width: 25%; }
.my-width-20{  width: 20%; }
.my-width-10{  width: 10%; }
.my-width-5{  width: 5%; }
/*margin padding*/
.my-margin-t1{margin-top:1px}
.my-margin-t2{margin-top:2px}
.my-margin-t3{margin-top:3px}
.my-margin-t4{margin-top:4px}
.my-margin-t5{margin-top:5px}
.my-margin-t10{margin-top:10px}
.my-margin-t15{margin-top:15px}
.my-margin-t20{margin-top:20px}
.my-margin-t25{margin-top:25px}
.my-margin-t30{margin-top:30px}
.my-margin-t35{margin-top:35px}
.my-margin-t40{margin-top:40px}
.my-margin-t45{margin-top:45px}
.my-margin-t50{margin-top:50px}
.my-margin-t55{margin-top:55px}
.my-margin-t60{margin-top:60px}
.my-margin-t65{margin-top:65px}
.my-margin-t70{margin-top:70px}
.my-margin-t75{margin-top:75px}
.my-margin-t80{margin-top:80px}
.my-margin-t85{margin-top:85px}
.my-margin-t90{margin-top:90px}
.my-margin-t95{margin-top:95px}
.my-margin-t100{margin-top:100px}

.my-margin-l5{margin-left:5px}
.my-margin-l10{margin-left:10px}
.my-margin-l15{margin-left:15px}
.my-margin-l20{margin-left:20px}
.my-margin-l25{margin-left:25px}
.my-margin-l30{margin-left:30px}
.my-margin-l35{margin-left:35px}
.my-margin-l40{margin-left:40px}
.my-margin-l45{margin-left:45px}
.my-margin-l50{margin-left:50px}
.my-margin-l55{margin-left:55px}
.my-margin-l60{margin-left:60px}
.my-margin-l65{margin-left:65px}
.my-margin-l70{margin-left:70px}
.my-margin-l75{margin-left:75px}
.my-margin-l80{margin-left:80px}
.my-margin-l85{margin-left:85px}
.my-margin-l90{margin-left:90px}
.my-margin-l95{margin-left:95px}
.my-margin-l100{margin-left:100px}

.my-margin-r5{margin-right:5px}
.my-margin-r10{margin-right:10px}
.my-margin-r15{margin-right:15px}
.my-margin-r20{margin-right:20px}
.my-margin-r25{margin-right:25px}
.my-margin-r30{margin-right:30px}
.my-margin-r35{margin-right:35px}
.my-margin-r40{margin-right:40px}
.my-margin-r45{margin-right:45px}
.my-margin-r50{margin-right:50px}
.my-margin-r55{margin-right:55px}
.my-margin-r60{margin-right:60px}
.my-margin-r65{margin-right:65px}
.my-margin-r70{margin-right:70px}
.my-margin-r75{margin-right:75px}
.my-margin-r80{margin-right:80px}
.my-margin-r85{margin-right:85px}
.my-margin-r90{margin-right:90px}
.my-margin-r95{margin-right:95px}
.my-margin-r100{margin-right:100px}

.my-margin-lr5{margin:0 5px}
.my-margin-lr10{margin:0 10px}
.my-margin-lr15{margin:0 15px}
.my-margin-lr20{margin:0 20px}
.my-margin-lr25{margin:0 25px}
.my-margin-lr30{margin:0 30px}
.my-margin-lr35{margin:0 35px}
.my-margin-lr40{margin:0 40px}
.my-margin-lr45{margin:0 45px}
.my-margin-lr50{margin:0 50px}
.my-margin-lr55{margin:0 55px}
.my-margin-lr60{margin:0 60px}
.my-margin-lr65{margin:0 65px}
.my-margin-lr70{margin:0 70px}
.my-margin-lr75{margin:0 75px}
.my-margin-lr80{margin:0 80px}
.my-margin-lr85{margin:0 85px}
.my-margin-lr90{margin:0 90px}
.my-margin-lr95{margin:0 95px}
.my-margin-lr100{margin:0 100px}

.my-margin-tb0{margin: 0 auto}
.my-margin-tb5{margin:5px auto}
.my-margin-tb10{margin:10px auto}
.my-margin-tb15{margin:15px auto}
.my-margin-tb20{margin:20px auto}
.my-margin-tb25{margin:25px auto}
.my-margin-tb30{margin:30px auto}
.my-margin-tb35{margin:35px auto}
.my-margin-tb40{margin:40px auto}
.my-margin-tb45{margin:45px auto}
.my-margin-tb50{margin:50px auto}
.my-margin-tb55{margin:55px auto}
.my-margin-tb60{margin:60px auto}
.my-margin-tb65{margin:65px auto}
.my-margin-tb70{margin:70px auto}
.my-margin-tb75{margin:75px auto}
.my-margin-tb80{margin:80px auto}
.my-margin-tb85{margin:85px auto}
.my-margin-tb90{margin:90px auto}
.my-margin-tb95{margin:95px auto}
.my-margin-tb100{margin:100px auto}



.my-margin-5{margin:5px}
.my-margin-10{margin:10px}
.my-margin-15{margin:15px}
.my-margin-20{margin:20px}
.my-margin-25{margin:25px}
.my-margin-30{margin:30px}
.my-margin-35{margin:35px}
.my-margin-40{margin:40px}
.my-margin-45{margin:45px}
.my-margin-50{margin:50px}
.my-margin-55{margin:55px}
.my-margin-60{margin:60px}
.my-margin-65{margin:65px}
.my-margin-70{margin:70px}
.my-margin-75{margin:75px}
.my-margin-80{margin:80px}
.my-margin-85{margin:85px}
.my-margin-90{margin:90px}
.my-margin-95{margin:95px}
.my-margin-100{margin:100px}


.my-padding-t5{padding-top: 5px;}
.my-padding-t10{padding-top: 10px;}
.my-padding-t15{padding-top: 15px;}
.my-padding-t20{padding-top: 20px;}
.my-padding-t25{padding-top: 25px;}
.my-padding-t30{padding-top: 30px;}
.my-padding-t35{padding-top: 35px;}
.my-padding-t40{padding-top: 40px;}
.my-padding-t45{padding-top: 45px;}
.my-padding-t50{padding-top: 50px;}
.my-padding-t55{padding-top: 55px;}
.my-padding-t60{padding-top: 60px;}
.my-padding-t65{padding-top: 65px;}
.my-padding-t70{padding-top: 70px;}
.my-padding-t75{padding-top: 75px;}
.my-padding-t80{padding-top: 80px;}
.my-padding-t85{padding-top: 85px;}
.my-padding-t90{padding-top: 90px;}
.my-padding-t95{padding-top: 95px;}
.my-padding-t100{padding-top: 100px;}

.my-padding-l5{padding-left: 5px;}
.my-padding-l10{padding-left: 10px;}
.my-padding-l15{padding-left: 15px;}
.my-padding-l20{padding-left: 20px;}
.my-padding-l25{padding-left: 25px;}
.my-padding-l30{padding-left: 30px;}
.my-padding-l35{padding-left: 35px;}
.my-padding-l40{padding-left: 40px;}
.my-padding-l45{padding-left: 45px;}
.my-padding-l50{padding-left: 50px;}
.my-padding-l55{padding-left: 55px;}
.my-padding-l60{padding-left: 60px;}
.my-padding-l65{padding-left: 65px;}
.my-padding-l70{padding-left: 70px;}
.my-padding-l75{padding-left: 75px;}
.my-padding-l80{padding-left: 80px;}
.my-padding-l85{padding-left: 85px;}
.my-padding-l90{padding-left: 90px;}
.my-padding-l95{padding-left: 95px;}
.my-padding-l100{padding-left: 100px;}

.my-padding-r5{padding-right: 5px;}
.my-padding-r10{padding-right: 10px;}
.my-padding-r15{padding-right: 15px;}
.my-padding-r20{padding-right: 20px;}
.my-padding-r25{padding-right: 25px;}
.my-padding-r30{padding-right: 30px;}
.my-padding-r35{padding-right: 35px;}
.my-padding-r40{padding-right: 40px;}
.my-padding-r45{padding-right: 45px;}
.my-padding-r50{padding-right: 50px;}
.my-padding-r55{padding-right: 55px;}
.my-padding-r60{padding-right: 60px;}
.my-padding-r65{padding-right: 65px;}
.my-padding-r70{padding-right: 70px;}
.my-padding-r75{padding-right: 75px;}
.my-padding-r80{padding-right: 80px;}
.my-padding-r85{padding-right: 85px;}
.my-padding-r90{padding-right: 90px;}
.my-padding-r95{padding-right: 95px;}
.my-padding-r100{padding-right: 100px;}

.my-padding-tb5{padding: 5px 0}
.my-padding-tb10{padding: 10px 0}
.my-padding-tb15{padding: 15px 0}
.my-padding-tb20{padding: 20px 0}
.my-padding-tb25{padding: 25px 0}
.my-padding-tb30{padding: 30px 0}
.my-padding-tb35{padding: 35px 0}
.my-padding-tb40{padding: 40px 0}
.my-padding-tb45{padding: 45px 0}
.my-padding-tb50{padding: 50px 0}
.my-padding-tb55{padding: 55px 0}
.my-padding-tb60{padding: 60px 0}
.my-padding-tb65{padding: 65px 0}
.my-padding-tb70{padding: 70px 0}
.my-padding-tb75{padding: 75px 0}
.my-padding-tb80{padding: 80px 0}
.my-padding-tb85{padding: 85px 0}
.my-padding-tb90{padding: 90px 0}
.my-padding-tb95{padding: 95px 0}
.my-padding-tb100{padding: 100px 0}
.my-padding-tb10{padding: 10px 0}

.my-padding-lr5{padding: 0 5px}
.my-padding-lr10{padding: 0 10px}
.my-padding-lr15{padding: 0 15px}
.my-padding-lr20{padding: 0 20px}
.my-padding-lr25{padding: 0 25px}
.my-padding-lr30{padding: 0 30px}
.my-padding-lr35{padding: 0 35px}
.my-padding-lr40{padding: 0 40px}
.my-padding-lr45{padding: 0 45px}
.my-padding-lr50{padding: 0 50px}
.my-padding-lr55{padding: 0 55px}
.my-padding-lr60{padding: 0 60px}
.my-padding-lr65{padding: 0 65px}
.my-padding-lr70{padding: 0 70px}
.my-padding-lr75{padding: 0 75px}
.my-padding-lr80{padding: 0 80px}
.my-padding-lr85{padding: 0 85px}
.my-padding-lr90{padding: 0 90px}
.my-padding-lr95{padding: 0 95px}
.my-padding-lr100{padding: 0 100px}

.my-padding-5{padding: 5px;}
.my-padding-10{padding: 10px;}
.my-padding-15{padding: 15px;}
.my-padding-20{padding: 20px;}
.my-padding-25{padding: 25px;}
.my-padding-30{padding: 30px;}
.my-padding-35{padding: 35px;}
.my-padding-40{padding: 40px;}
.my-padding-45{padding: 45px;}
.my-padding-50{padding: 50px;}
.my-padding-55{padding: 55px;}
.my-padding-60{padding: 60px;}
.my-padding-65{padding: 65px;}
.my-padding-70{padding: 70px;}
.my-padding-75{padding: 75px;}
.my-padding-80{padding: 80px;}
.my-padding-85{padding: 85px;}
.my-padding-90{padding: 90px;}
.my-padding-95{padding: 95px;}
.my-padding-100{padding: 100px;}

/*font-color*/
.my-padding-lrp4{
    padding: 0 4%;
}
.my-padding-lrp5{
    padding: 0 5%;
}


.triangle-translate-right{
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); 	/* IE 9 */
    -moz-transform:rotate(-90deg); 	/* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari �� Chrome */
    -o-transform:rotate(-90deg); 	/* Opera */
    transition: 0.5s;
}
.triangle-translate-down{
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); 	/* IE 9 */
    -moz-transform:rotate(0deg); 	/* Firefox */
    -webkit-transform:rotate(0deg); /* Safari �� Chrome */
    -o-transform:rotate(0deg); 	/* Opera */
    transition: 0.5s;
}
.layui-layer{zoom: 1!important;}
.layui-layer-btn{text-align: center !important;}
.layui-layer-btn .layui-layer-btn0 {
    border-color:transparent !important;
    background-color: #24D5A5 !important;
    color: #fff;}
.layui-layer,.layui-layer-content{border-radius: 5px!important;}
/*选中样式、tabcss*/
.layui-tab-content{
    padding:0!important;
}
.layui-tab{
    margin:0 auto!important;
}
.layui-this {
    color: #24d5a5!important;}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #24d5a5!important;
}
/*评论样式*/
.comment-btn{
    padding: 8px 50px;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
}
.comment-other-wrap textarea{
    border: solid 1px #e1e1e1;
    border-radius: 3px;
}

input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 25px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    line-height: 20px;
    color: #d8d8d8;
}
input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 25px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    line-height: 20px;
    color: #d8d8d8;
}
input[type=radio]:after {
    content: "";
    display:block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: #fff;
    border: 3px solid #ddd;
    background-color: #fff;
    box-sizing:border-box;
}
input[type=checkbox]:after {
    content: "";
    display:block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    color: #fff;
    border: 3px solid #ddd;
    background-color: #fff;
    box-sizing:border-box;
}
input[type=radio]:checked:after {
    content: "L";
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    border-color: #1aac19;
    background-color: #1aac19;
}
input[type=checkbox]:checked:after {
    content: "L";
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    border-color: #1aac19;
    background-color: #1aac19;
}